html {
    scroll-behavior: smooth;
}
.img{
  width:120;
  height:40;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color:#000000;
    padding: 10px;
    width: 100%;
}

.nav-link {
    color:#F1EFE7;
    text-decoration: none;
    margin-right:50px;
    padding-inline-start: 0%;
    padding-inline-end: 0%;
    text-align:left;
}
.nav-link:hover {
  color: #18727D;
}
section {
    text-align:center;
    display: inline;
    position: static;
}
.button{
border: 2x solid white;
border-radius: 6px;
outline: none;
cursor: pointer;
margin-right: 20px;
color: #040404;
font-weight: 500;
width: 130px;
height: 30px;
margin-left: 0%;
}
body{
    background-color:#ffffff;
    margin: 0%;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top:10px; /* Adjust the padding to shift the elements up */
    z-index: 999;
  }
  h1{
    margin-top: 100px;
    color: white;
    font-size: 25px;

  }
  .container {
    background-image: url('/Users/Admin/Downloads/bgi.jpg'); /* Replace 'background-image.jpg' with the path to your image */
    background-size:100%; /* Adjusts the background image size to cover the entire container */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 120vh;
    padding: 0%;
  }
  .content1 a{
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: white;
    border: 2px Solid white;
    padding: 10px 20px 10px;
    border-radius: 50px;
    justify-content: center;
    margin-left: 100px;
    transition: 0.33s;
    justify-content:start;

  }
  .container a:hover{
    background-color: #ffffff;
    color:#18727D;
  }
  .background-clip{
    position: absolute;
    right:0;
    bottom:0;
    z-index: -1;
  }
  .box{
    height:30px ;
    display: flex;
    cursor: pointer;
    padding:10px 20px ;
    border-radius:30px ;
    background: rgb(255, 255, 255);
    align-items:center ;
    box-shadow: 0 10px 25px rgba(red, green, blue, 0.3);

  }
  .box:hover input{
    width:200px;
  }
  .box input{
    width: 0;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    outline: none;
    background: transparent;

  }
  .box a .fas{
    color: #000000;
    font-size: 18px;
  }
*{
    padding:0;
    margin: 0;
  }
  .login{
    padding:6px 5px;
    font-weight: 500; 
    border: 2px solid #18727D;
    border-radius: 0px;
    background-color:#18727D;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: 0.8s;
    margin-right: 8px;
  }
  .login:hover{
    background-color:#15636e;
    color:#ffffff;
    border:2px solid #0d4147;
  }
  .getstarted{
    padding:6px 5px;
    font-weight: 500;
    border: 2px solid #18727D;
    border-radius: 0px;
    background-color:#18727D;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    transition: 0.8s;
  }
  .getstarted:hover{
    background-color:#15636e;
    color:#ffffff;
    border:2px solid #0d4147;

  }
  .navbar .img{
    margin-left: 15px;
  }
.features{
  width: 1000px;
  display:flex;
  flex-direction: row;
  position: relative;
  justify-content:center;
  margin: 0 auto;
}
.features .card{
  position: relative;
}
.features .card .face.face1{
  position: relative;
  display: flex;
  justify-content:center;
  transform: translateY(100px);

}
  .features .card .face.face2 {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items:center; /* Adjust alignment to start from the top */
    padding: 0px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    height: 280px;
    flex-direction: column;
    background-color: white;
    border: 5px solid white;
    background-size: cover;
    border-radius: 20px;
  }
  .features .card .face.face2:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);

  }
  
.features .card .face.face2 .content p{
  margin: 0;
  padding: 10 30 1 30;
}
.features .card .face.face2 .content a{
  margin: 5px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color:#333 ;
  padding: 10px 10px 10px 15px;
  border: 2px solid #333;
  text-align: end;
  padding: 2px 10px 4px 10 ;
}
.features .card .face.face2 .content a{
  transition: 0.5;
  color: #000;
}
.features .card .face.face2 .content a:hover{
opacity: 1;
color:#18727D;
border: 2px solid #18727D;

}
h3{
  color: #000000;
  font-size: 0.75cm;
}
.features-container {
  max-width: 1000px; /* Set maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  display: flex; /* Use flexbox to arrange cards horizontally */
  justify-content: center; /* Distribute space between cards */
  gap: 0px;
}
.section2{
  background:url(weird.jpg);
  background-size: cover;
}

.card{
  width: calc((100% / 3) - 10px); /* Set width for each card */
  margin: -110px 10px;/* Adjust margin between cards */
  padding: 10px; /* Add padding for content */
  height: 550px;
}
.features .card .face{
  transition: 0.5s;
 width: 300px;
height: 190px;
border-radius: 50px;
}
.content1{
  height: 100px;
  margin-left: 55;
}
.video{
  border: 1px solid white;
  border-radius: 100px;
}
.wrapper{
  display:flex;
  width:0%;
  gap: 50px;
  flex-direction: row;
  max-width: 1000px;
  margin: 0 auto; /* Center the container horizontally */
  justify-content: center;
}
.card1{
width:220px;
height:351px;
background: #000000;
position: relative;
display: flex;
align-items: flex-end;
box-shadow: 0px 7px 10px rgba(red, green, blue, 0.5);
transform: 0.5s ease-in-out;
border:0px solid white;
border-radius: 20px;
}
.card1:hover{
  transform: translateY(20px);
}
.card1:before{
  content:"";
  position: absolute;
  top:0;
  left:0;
  display: block;
  width: 100%;
  height: 100%;
  background:linear-gradient(to top, rgba(1, 1, 89, 0.9), transparent, rgba(1, 1, 1, 0.8));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border:0px solid white;
  border-radius:20px;

}
.card1:hover:before{
opacity: 1;
}
.card1 img{
  width: 100%;
  height: 100%;
  object-fit:contain;
  position: absolute;
  top: 0;
  left: 0;
  border:0px solid white;
  border-radius:20px;
}
.card1 .info{
  position: relative;
  z-index: 3;
  color: #fff;
  opacity:0 ;
  transform: translateY(30px);
  transition:0.5s all ;
  padding-bottom: 30px;
  width:250px;
}
.card1:hover .info{
  opacity: 1;
  transform: translateY(0px);
}
.card1 .info h1{
  padding: 10px 10px 10px 10px;

}
.card1 .info p{
  letter-spacing: 1px;
  font-size: 15px;
  margin: 0 15 47px 15;
}
.card1 .info .btn{
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card1 .info .btn:hover{
  box-shadow: 0px 7px 10px rgba(red, green, blue, 0.5);

}

*{
  box-sizing: border-box;
  font-family: 'Lato',sans-serif;
}
.site{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container1{
  max-width: 1100px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.testi{
  max-width: 900px;
  margin: 0 auto;
}
.head1{
text-align: center;
margin-bottom: 60px;
}
.head1 h3{
  font-size: 34px;
  font-weight: 800;
}
.wrapper1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  padding: 30px 0;
  text-align: justify;
  margin: 50 230 20 250;
  width: 500;
}
/*thumbnail*/
.thumbnail{
  width: 105px;
  height: 105px;
  position: relative;
  flex-shrink: 0;
}
.thumbnail img{
  width: 100;
  height: 100;
  border-radius: 50%;
  object-fit:cover;
}
.thumbnail::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 120px;
  height: 110px;
  background-color: #18727D;
  border-radius: 33% 67% 50% 50%/50% 14% 86% 50%;
  z-index: -1;
  box-shadow:0px 12px 10px rgba(0, 0, 0, 0.2);
}
.aside{
  position: relative;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.aside>p{
  position: relative;
  font-size: 14px;
  line-height: normal;
  margin-bottom: 30px;
  font-weight: 600;
}
.aside>p::before,
.aside>p::after{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  position: absolute;
  color:rgb(75, 75, 75);
  height: 40px;
  z-index: -1;
}
.aside>p::before{
  content: open-quote;
  top: -50px;
  left: -1px;
}
.aside>p::after{
  content: close-quote;
  right: 0;
}
.aside .name1{
  position: relative;
  width: fit-content;
  line-height: 1;
}
.aside .name1 h4{
  font-size: 22px;
  font-weight: 800;
  color:#18727D;
  opacity: .8;
}
.aside .name1 p{
font-size: 15px;
text-align: left;
color: rgb(61, 60, 60);
margin: 2px;
font-weight: 600;
}

@media screen and(min-width:768px){
.wrapper1{
  flex-direction: row;
  padding: 30px 100px;
}
.thumbnail{
  width: 200px;
  height: 200px;
}

}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  color: #18727D;
  margin-left: 450px;
}
.swiper-button-next:after, .swiper-button-prev:after{
  color: #18727D;
  margin-right: 250px;
}
.info h1{
  color:white;
  
}
.info p{
  font-size: 5cm;
  color:white;


}
.book-name{
padding: 2%;
}
.features-name{
  padding-top: 100px;
  font-size: 22px;
  color:white;
}
.features-name h2{
background-color: #000;
}
.books-name1{
  padding-top: 100px;
  padding-bottom: 25px;

}
.section2{
  height: 600px;
    background: url(ttt1.png);
    background-size: cover;
}
.section3{
  background-color:#FFBD59;
  height:650px
}
.rank img{
  width: 50px;
  height: 50px;
  background: white;
  border: 4px solid white;
  border-radius: 100px;
}

.rank{
  display: flex;
  flex-direction: row;
  gap: 210px;
  margin: -25px 130px;
  margin-left: 240px;
  position: relative;
}
.section4{
  background-image: url(ls4.png);
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(255, 255, 255, 0.4);
}
* {
  font-family: "Jost", sans-serif;
}
.nav1{
  font-weight: 600;
}
.intro h1{
  margin-left: 150px;
    margin-top: 80px;
    font-size: 60px;
}
footer {
  background-color:black;
  color: #fff;
  padding: 20px 0;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.newsletter,
.footer-links,
.social-icons {
  margin-bottom: 20px;
}

.newsletter input[type="email"],
.newsletter button {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.newsletter input[type="email"] {
  width: 200px;
}

.newsletter button {
  background-color: #18727d;
  color: #fff;
  cursor: pointer;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-links ul li:last-child {
  margin-right: 0;
}

.social-icons a.icon1 {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin: 0;
}
.newsletter h3{
  color: #ffffff;
}
form{
  align-items: center;
margin:10 50;
}
